// :root{
//     font-size: calc(1vw + .6em);
// }
@mixin reset_spaces {
    padding: 0;
    margin: 0; 
}
@mixin reset_outlines {
    border: 0;
    outline: none;
}
html{
    scroll-behavior: smooth;
}
body,
h1,h2,h3,h4,h5,h6,
p,
ul,li,
div,
span{
    @include reset_spaces();
    box-sizing: border-box;
   
}

body{
    background-color: $bc;
    color: $wt;
    font-family: $mnsrt, Arial, Helvetica, sans-serif;
}
ul,li{
    list-style-type: none;
}

a{
    color: $wt;
    text-decoration: none;
}

button,
input,
textarea,
select{
    @include reset_outlines();
}

.container{
    // width: calc(100% - 60px);
    // margin: 0 auto;
    // width: 100%;
    // box-sizing: border-box;
    padding: 0 30px;
}



