.registration{
    padding: 34px 0;
    &__title{
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
}

.form{
    width: 220px;
    margin: 0 auto;

    &__fieldset{
        margin-bottom: 14px;
    }

    &__label{
        display: inline-block;
        margin-bottom: 7px;
        font-size: 12px;
    }
    &__item{
        padding: 9px 11px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 4px;
        
        &::placeholder{
            font-size: 9px;
            color:#504D4D;
        }
    }
    &__add-teammate{
        margin: 18px 0 28px 0;
        font-size: 12px;

        &:active{
            color: rgba(255, 255, 255, 0.758);
        }
    }
    &__show-teammate{
        display: none;
    }

}

@media (min-width: 576px) {
    .registration{
        &__title{
            font-size: 25px;
        }

    }

    .form{
        width: 280px; 
        
        &__label{
            
            font-size: 14px;
        }
        &__item{
            
            &::placeholder{
                font-size: 10px;
                color:#504D4D;
            }
        }

        &__add-teammate{
            font-size: 14px;
        }
    }

}

@media (min-width: 768px) {
    .registration{
        &__title{
            font-size: 35px;
        }

    }

    .form{
        width: 380px; 
        
        &__label{
            font-size: 16px;
        }
        &__item{
            padding: 12px 16px;
            font-size: 14px;
            
            &::placeholder{
                font-size: 12px;
                color:#504D4D;
            }
        }

        &__add-teammate{
            font-size: 18px;
        }
    }

}

@media (min-width: 992px) {
    .registration{
        &__title{
            font-size: 42px;
        }

    }

    .form{
        width: 480px; 

        &__fieldset{
            margin-bottom: 18px;
        }
        
        &__label{
            font-size: 20px;
        }
        &__item{
            padding: 16px 18px;
            font-size: 16px;
            
            &::placeholder{
                font-size: 14px;
                color:#504D4D;
            }
        }

        &__add-teammate{
            margin: 24px 0 32px 0;
            font-size: 24px;
        }
    }

}

@media (min-width: 1200px) {
    .registration{
        &__title{
            font-size: 36px;
            margin-bottom: 30px;
        }

    }

    .form{
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        &__fieldset{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 50px 25px 50px;
        }
        &__label{
            font-size: 16px;
            margin-bottom: 10px;
        }
        &__item{
            padding: 12px 16px;
            font-size: 16px;
            width: 280px;
       
            &::placeholder{
                font-size: 14px;
                color:#504D4D;
            }
        }
        &__add-teammate{
            display: none;
        }
        &__show-teammate{
            display: flex;
        }
        &__submit{
            height: 48px;
            margin: 26px 0 0 50px;
            cursor: pointer;
            // margin: 0 auto;
        }
    }

}


@media (min-width: 1400px){
    .registration{
        padding: 30px 0;
        &__title{
            margin-bottom: 56px;
        }
    
    }

    .form{
        &__fieldset{
            margin: 0 60px 36px 60px;
        }
        &__item{
            width: 320px;
        }
        &__submit{
            height: 48px;
            margin: 26px 0 0 62px;
            cursor: pointer;
            // margin: 0 auto;
        }
       
        
    }

}

@media (min-width: 1600px) {
    .registration{
        padding: 100px 0;
    } 
}