.registration{
    padding: 34px 0;
    &__title{
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

}

.form{
    width: 220px;
    margin: 0 auto;

    &__fieldset{
        margin-bottom: 14px;
    }

    &__label{
        display: inline-block;
        margin-bottom: 7px;
        font-size: 12px;
    }
    &__item{
        padding: 9px 11px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 4px;
        
        &::placeholder{
            font-size: 9px;
            color:#504D4D;
        }
    }
    &__add-teammate{
        margin: 18px 0 28px 0;
        font-size: 12px;

        &:active{
            color: rgba(255, 255, 255, 0.758);
        }
    }

}

@media (min-width: 576px) {
    .registration{
        &__title{
            font-size: 25px;
        }

    }

    .form{
        width: 280px; 
        
        &__label{
            
            font-size: 14px;
        }
        &__item{
            
            &::placeholder{
                font-size: 10px;
                color:#504D4D;
            }
        }

        &__add-teammate{
            font-size: 14px;
        }
    }

}

@media (min-width: 768px) {
    .registration{
        &__title{
            font-size: 35px;
        }

    }

    .form{
        width: 380px; 
        
        &__label{
            font-size: 16px;
        }
        &__item{
            padding: 12px 16px;
            font-size: 14px;
            
            &::placeholder{
                font-size: 12px;
                color:#504D4D;
            }
        }

        &__add-teammate{
            font-size: 18px;
        }
    }

}