.header{
    padding: 12px 0;
    background-color: $bc;
    
    &__wrapper{
        justify-content: space-between;
        align-content: center;
    }
    &__wrapper_mobile-tablet-version{
        display: flex;
    }
    &__wrapper_desktop-laptop-version{
        display: none;
    }
   

    &__logo_size{
        width: 106px;
        height: 23px;
    }
    &__burger-button{
        margin-top: 2px;
        font-size: 20px;
        font-weight: bold;
        transform: rotate(90deg);
        cursor: pointer;
    
    }

    &__overlay{
        width: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $bc;
        display: none;
    }

    &__navigation{
        // padding-top: 15px;
        text-align: right;
    }

    &__close-button{
        display: inline-block;
        box-sizing: border-box;
        margin-bottom: 33px;
        font-size: 40px;
        transform: rotate(45deg);
        cursor: pointer;
    }
    &__links{
        display: block;
        font-size: 20px;
        letter-spacing: 2px;
        margin-bottom: 30px;
        
    }
}

.overlay_show{
    display: block;
}

.header,.overlay{
    user-select: none;
}


@media (min-width: 576px) {
    .header{
        padding: 18px 0;

        &__logo_size{
            width: 130px;
            height: 25px;
        }

        &__burger-button{
            font-size: 22px;
        }

        &__close-button{
            font-size: 50px;
        }

        &__links{
            font-size: 25px; 
            // letter-spacing: 4px;
        }
        
    }

    
}


