.head{
    padding: 50px 0px;
    &__wrapper{
        width: 214px;
        margin: 0 auto;
    }
    &__block-title{
        margin-bottom: 26px;
    }
    &__title{
        font-family: "Arial Black", Helvetica, sans-serif;;
        margin-bottom: 6px;
    }
    &__title_position_right{
        margin-left: 60px;
    }
    &__link{
        display: block;
        margin: 0 36px;
        padding: 10px 25px;
        font-size: 12px;
        border-radius: 20px;
        background-color: $wt;
        color: $bc;
        transition: 0.6s;
       
        &:hover{
            background-color: rgba(255, 255, 255, 0.942);
        }
        &:active{
            background-color: rgba(255, 255, 255, 0.845);
        }
    }

    &__image{
        margin: 50px 20px 0 20px;
        width: 171px;
        height: 121px;
    }
}