.head{
    padding: 50px 0;
   
    
    &__block-title{
        text-align: center;
        margin-bottom: 26px;
    }
    &__title{
        font-family: "Arial Black", Helvetica, sans-serif;;
        margin-bottom: 6px;
        font-size: 30px;
        // font-size: calc(3vw + 1.1em);
    }
    &__title_position_left{
        margin-right: 60px;
    }
    &__title_position_right{
        margin-left: 60px;
    }
    &__link{
        display: block;
        width: 210px;
        margin: 0 auto;
        padding: 15px 0;
        border-radius: 20px;
       
    }

    &__image{
        margin-top: 50px;
        width: 100%;
        height: auto;
    }
}

@media (min-width: 576px) {
    .head{
        padding: 60px 0;
        &__title{
            font-size: 45px;
        }
        &__title_position_left{
            margin-right: 120px;
        }
        &__title_position_right{
            margin-left: 120px;
        }
        &__link{
            width: 316px;
            padding: 18px 0;
            border-radius: 50px;
            font-size: 20px;
        }
    

    } 
}


@media (min-width: 768px) {
    .head{

        &__block-title{
            
            margin-bottom: 42px;
        }
        &__title{
            font-size: 58px;
            margin-bottom: 12px;
        }
        
        &__image{
            margin-top: 70px;
            
        }
         
    } 
}

@media (min-width: 992px) {
    .head{

        &__block-title{
            margin-bottom: 65px;
        }
        &__title{
            font-size: 70px;
            margin-bottom: 12px;
        }
        &__title_position_left{
            margin-right: 180px;
        }
        &__title_position_right{
            margin-left: 180px;
        }

        &__link{
            width: 380px;
            padding: 21px 0;
        }
        
        &__image{
            margin-top: 70px;
            
        }
         
    } 
}

@media (min-width: 1200px) {
    .head{
        &__wrapper{
            display: flex;
            justify-content: space-between;
            
        }

        &__block-title{
            margin-bottom: 64px;
        }
        &__title{
            font-size: 52px;
            margin-bottom: 16px;
        }
        &__title_position_left{
            margin-right: 120px;
        }
        &__title_position_right{
            margin-left: 120px;
        }

        &__link{
            width: 280px;
            padding: 21px 0;
        }
        
        &__image{
            margin-top: -5px;
            width: 640px;
            height: 410px;
            
        }
         
    } 
}