.header{
    padding: 12px 0;
    background-color: $bc;
   
    
    &__wrapper{
        justify-content: space-between;
        align-items: center;
    }
    &__wrapper_mobile-tablet-version{
        display: flex;
    }
    &__wrapper_desktop-laptop-version{
        display: none;
    }
   

    &__logo_size{
        width: 140px;
        height: 30px;
    }
    &__burger-button{
        margin-top: -4px;
        font-size: 20px;
        font-weight: bold;
        transform: rotate(90deg);
        cursor: pointer;
    
    }

    &__overlay{
        width: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        background-color: $bc;
        display: none;
        // overflow: ;
    }
   
    &__navigation{
        // padding-top: 15px;
        text-align: right;
    }

    &__close-button{
        display: inline-block;
        box-sizing: border-box;
        margin-bottom: 33px;
        
        font-size: 45px;
        transform: rotate(45deg);
        cursor: pointer;
    }
    &__links{
        display: block;
        font-size: 20px;
        letter-spacing: 2px;
        margin-bottom: 26px;
        font-family: $msref;

        
       
        
    }
}

.overlay_show{
    display: block;
}

.header,.overlay{
    user-select: none;
}
.sticky{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    
}


@media (min-width: 576px) {
    .header{
        padding: 18px 0;
        &__logo_size{
            width: 180px;
            height: 40px;
        }
        &__burger-button{
            font-size: 22px;
        }
        &__close-button{
            font-size: 50px;
            margin-top: 8px;
        }
        &__links{
            margin-bottom: 36px;
        }

        
    }
    
}


@media (min-width: 768px) {
    .header{

        &__logo_size{
            width: 220px;
            height: 50px;
        }
        &__burger-button{
            font-size: 24px;
        }
        &__close-button{
            font-size: 60px;
            margin-top: 6px;
        }   
        &__links{
            font-size: 25px; 
            margin-bottom: 32px;
        }
    } 
}

@media (min-width: 992px) {
    
    .header{
        padding: 24px 0;
        // &__logo_size{
        //     width: 165px;
        //     height: 35px;
        // }

        &__burger-button{
            font-size: 28px;
        }
        &__close-button{
            font-size: 65px;
          
        }  
        &__links{
            font-size: 32px;
            letter-spacing: 4px;
            margin-bottom: 42px;
        }
            
    }
    // .sticky{
    //     padding: 24px 60px;
    // }
    
}

@media (min-width: 1200px) {
    .header{
        &__wrapper_mobile-tablet-version{
            display: none;
        }
        &__wrapper_desktop-laptop-version{
            display: flex;
        }
        &__logo_size{
            width: 260px;
            height: 60px;
        }

        &__list{
            display: flex;
        }

        &__links{
            font-size: 14px;
            margin: 0 0 0 50px;
            letter-spacing: 2px;
            transition: .6s;

            &:hover{
                color: rgba(255, 255, 255, 0.832);
            }
            &:active{
                color: rgba(255, 255, 255, 0.682);
            }
        }
    }
    
    
}


@media (min-width: 1400px) {
    .header{
       
        &__logo_size{
            width: 280px;
            height: 65px;
        }

        &__list{
            display: flex;
        }

        &__links{
            font-size: 16px;
            margin: 0 0 0 60px;
            letter-spacing: 2px;
            transition: .6s;

            &:hover{
                color: rgba(255, 255, 255, 0.832);
            }
            &:active{
                color: rgba(255, 255, 255, 0.682);
            }
        }
    }
    
}

