.head{
    padding: 50px 0px;
    &__wrapper{
        width: $wid;
        margin: 0 auto;
    }
    
    &__block-title{
        // text-align: center;
        margin-bottom: 26px;
    }
    &__title{
        font-family: "Arial Black", Helvetica, sans-serif;;
        margin-bottom: 6px;
    }
    &__title_position_right{
        margin-left: 60px;
    }
    &__link{
        display: block;
        width: calc(100% - 16vw);
        margin: 0 auto;
        padding: 10px 0;
        box-sizing: border-box;
        border-radius: 20px;

        background-color: $wt;
        font-size: 12px;
        color: $bc;
        text-align: center;
        transition: 0.6s;
       
        &:hover{
            background-color: rgba(255, 255, 255, 0.942);
        }
        &:active{
            background-color: rgba(255, 255, 255, 0.845);
        }
    }

    &__image{
        margin-top: 50px;
        width: 100%;
        height: auto;
    }
}