.instructions{
    padding: 34px  0;
    &__wrapper{
        display: flex;
        flex-direction: column;
    }
    &__block{
        border-bottom: 1px solid rgba(255, 255, 255, 0.521);
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    &__title{
        font-size: 14px;
        margin-bottom: 20px;
    }
    &__link{
        font-size: 8px;
        font-weight: bold;
    }
    &__link-icon{
        position: relative;
        top: 4px;
        left: 12px;
    
    }
   
}

@media (min-width: 576px) {
    .instructions{
        &__title{
            font-size: 18px;
        }
        &__link{
            font-size: 10px;
        }
        &__link-icon{
            font-size: 10px;
        }

    }
    
}

@media (min-width: 768px) {
    .instructions{
        &__title{
            font-size: 20px;
        }
        &__block{
            margin-bottom: 40px;
           
        }
        
       

    }
    
}

@media (min-width: 992px) {
    .instructions{
        padding: 64px  0;
        &__wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &__list{
            margin: 100px 0 0 80px;
        }
        &__block{
           width: 380px;
        }
        &__title{
            font-size: 25px;
        }
        &__link{
            font-size: 12px;
        }
        &__link-icon{
            font-size: 12px;
        }
      

    }
    
}

@media (min-width: 1200px) {
    .instructions{
        padding: 20px 0;
        &__block{
            width: 520px;
        }
    
       

    }
    
}


@media (min-width: 1400px) {
    .instructions{
    
        &__block{
            width: 640px;
        }
        &__link{
            font-size: 14px;
        }
        &__link-icon{
            font-size: 14px;
        }
       

    }
    
}