.schedule{
    padding: 34px 0;

    &__title{
        margin-bottom: 10px;
    }
    &__block{
        margin-bottom: 20px;
    }
    &__list li{
        margin-bottom: 8px;
    }

    
}

@media (min-width: 1200px) {
    .schedule{
        &__title{
            font-size: 30px;
        }
        &__block{
            margin-bottom: 20px;
        }
        &__list li{
            font-size: 18px;
        }

    }
    
}