@font-face {
  font-family: 'MS Reference Sans Serif';
  src: url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-Italic.eot");
  src: url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-Italic.woff2") format("woff2"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-Italic.woff") format("woff"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'MS Reference Sans Serif';
  src: url("fonts/MSReferenceSansSerif/MSReferenceSansSerif.eot");
  src: url("fonts/MSReferenceSansSerif/MSReferenceSansSerif.eot?#iefix") format("embedded-opentype"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif.woff2") format("woff2"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif.woff") format("woff"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MS Reference Sans Serif';
  src: url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-Bold.eot");
  src: url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-Bold.woff2") format("woff2"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-Bold.woff") format("woff"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MS Reference Sans Serif';
  src: url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-BoldItalic.eot");
  src: url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-BoldItalic.woff2") format("woff2"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-BoldItalic.woff") format("woff"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'MS Reference Sans Serif';
  src: url("fonts/MSReferenceSansSerif/MSReferenceSansSerif_1.eot");
  src: url("fonts/MSReferenceSansSerif/MSReferenceSansSerif_1.eot?#iefix") format("embedded-opentype"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif_1.woff2") format("woff2"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif_1.woff") format("woff"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif_1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MS Reference Sans Serif';
  src: url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-Italic_1.eot");
  src: url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-Italic_1.eot?#iefix") format("embedded-opentype"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-Italic_1.woff2") format("woff2"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-Italic_1.woff") format("woff"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-Italic_1.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'MS Reference Sans Serif';
  src: url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-Bold_1.eot");
  src: url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-Bold_1.eot?#iefix") format("embedded-opentype"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-Bold_1.woff2") format("woff2"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-Bold_1.woff") format("woff"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-Bold_1.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MS Reference Sans Serif';
  src: url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-BoldItalic_1.eot");
  src: url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-BoldItalic_1.eot?#iefix") format("embedded-opentype"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-BoldItalic_1.woff2") format("woff2"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-BoldItalic_1.woff") format("woff"), url("fonts/MSReferenceSansSerif/MSReferenceSansSerif-BoldItalic_1.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'MS Reference Sans Serif';
  src: url("fonts/Montserrat/MSReferenceSansSerif-Italic.eot");
  src: url("fonts/Montserrat/MSReferenceSansSerif-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/MSReferenceSansSerif-Italic.woff2") format("woff2"), url("fonts/Montserrat/MSReferenceSansSerif-Italic.woff") format("woff"), url("fonts/Montserrat/MSReferenceSansSerif-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'MS Reference Sans Serif';
  src: url("fonts/Montserrat/MSReferenceSansSerif.eot");
  src: url("fonts/Montserrat/MSReferenceSansSerif.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/MSReferenceSansSerif.woff2") format("woff2"), url("fonts/Montserrat/MSReferenceSansSerif.woff") format("woff"), url("fonts/Montserrat/MSReferenceSansSerif.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MS Reference Sans Serif';
  src: url("fonts/Montserrat/MSReferenceSansSerif-Bold.eot");
  src: url("fonts/Montserrat/MSReferenceSansSerif-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/MSReferenceSansSerif-Bold.woff2") format("woff2"), url("fonts/Montserrat/MSReferenceSansSerif-Bold.woff") format("woff"), url("fonts/Montserrat/MSReferenceSansSerif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MS Reference Sans Serif';
  src: url("fonts/Montserrat/MSReferenceSansSerif-BoldItalic.eot");
  src: url("fonts/Montserrat/MSReferenceSansSerif-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/MSReferenceSansSerif-BoldItalic.woff2") format("woff2"), url("fonts/Montserrat/MSReferenceSansSerif-BoldItalic.woff") format("woff"), url("fonts/Montserrat/MSReferenceSansSerif-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-ExtraBoldItalic.eot");
  src: url("fonts/Montserrat/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-ExtraBoldItalic.woff") format("woff"), url("fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-BoldItalic.eot");
  src: url("fonts/Montserrat/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/Montserrat-BoldItalic.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-BoldItalic.woff") format("woff"), url("fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-Black.eot");
  src: url("fonts/Montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/Montserrat-Black.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-Black.woff") format("woff"), url("fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-ExtraBold.eot");
  src: url("fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"), url("fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-BlackItalic.eot");
  src: url("fonts/Montserrat/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/Montserrat-BlackItalic.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-BlackItalic.woff") format("woff"), url("fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-Bold.eot");
  src: url("fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-ExtraLightItalic.eot");
  src: url("fonts/Montserrat/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-ExtraLightItalic.woff") format("woff"), url("fonts/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-ExtraLight.eot");
  src: url("fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff"), url("fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-Italic.eot");
  src: url("fonts/Montserrat/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/Montserrat-Italic.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-Italic.woff") format("woff"), url("fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-LightItalic.eot");
  src: url("fonts/Montserrat/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/Montserrat-LightItalic.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-LightItalic.woff") format("woff"), url("fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-Medium.eot");
  src: url("fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-Light.eot");
  src: url("fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/Montserrat-Light.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-MediumItalic.eot");
  src: url("fonts/Montserrat/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-MediumItalic.woff") format("woff"), url("fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-Regular.eot");
  src: url("fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-SemiBold.eot");
  src: url("fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-Thin.eot");
  src: url("fonts/Montserrat/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/Montserrat-Thin.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-Thin.woff") format("woff"), url("fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-SemiBoldItalic.eot");
  src: url("fonts/Montserrat/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-SemiBoldItalic.woff") format("woff"), url("fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-ThinItalic.eot");
  src: url("fonts/Montserrat/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-ThinItalic.woff") format("woff"), url("fonts/Montserrat/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-ThinItalic_1.eot");
  src: url("fonts/Montserrat/Montserrat-ThinItalic_1.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/Montserrat-ThinItalic_1.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-ThinItalic_1.woff") format("woff"), url("fonts/Montserrat/Montserrat-ThinItalic_1.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-Thin_1.eot");
  src: url("fonts/Montserrat/Montserrat-Thin_1.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat/Montserrat-Thin_1.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-Thin_1.woff") format("woff"), url("fonts/Montserrat/Montserrat-Thin_1.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
:root {
  font-size: calc(1vw + .6em);
}

html {
  scroll-behavior: smooth;
}

body,
h1, h2, h3, h4, h5, h6,
p,
ul, li,
div,
span,
fieldset {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #000;
  color: #fff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background-image: url("../images/techFestback.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul, li {
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}

button,
input,
textarea,
select,
fieldset {
  border: 0;
  outline: none;
}

.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  font-size: 12px;
  color: #000;
  text-align: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.912);
}
.button:active {
  background-color: rgba(255, 255, 255, 0.682);
}

.container {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
}

@media (min-width: 992px) {
  .container {
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0;
    width: 1140px;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
.header {
  padding: 12px 0;
  background-color: #000;
}
.header__wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__wrapper_mobile-tablet-version {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__wrapper_desktop-laptop-version {
  display: none;
}
.header__logo_size {
  width: 120px;
  height: 34px;
}
.header__burger-button {
  margin-top: -7px;
  font-size: 20px;
  font-weight: bold;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}
.header__overlay {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  display: none;
}
.header__navigation {
  text-align: right;
}
.header__close-button {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 33px;
  font-size: 40px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}
.header__links {
  display: block;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 26px;
  font-family: "MS Reference Sans Serif";
}

.overlay_show {
  display: block;
}

.header, .overlay {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (min-width: 576px) {
  .header {
    padding: 18px 0;
  }
  .header__logo_size {
    width: 140px;
    height: 40px;
  }
  .header__burger-button {
    font-size: 22px;
  }
  .header__close-button {
    font-size: 50px;
  }
  .header__links {
    margin-bottom: 36px;
  }
}
@media (min-width: 768px) {
  .header__logo_size {
    width: 180px;
    height: 50px;
  }
  .header__burger-button {
    margin-top: -14px;
    font-size: 24px;
  }
  .header__close-button {
    font-size: 55px;
  }
  .header__links {
    font-size: 25px;
    margin-bottom: 32px;
  }
}
@media (min-width: 992px) {
  .header {
    padding: 24px 0;
  }
  .header__burger-button {
    font-size: 28px;
  }
  .header__close-button {
    font-size: 60px;
    margin-top: 6px;
  }
  .header__links {
    font-size: 32px;
    letter-spacing: 4px;
    margin-bottom: 42px;
  }
}
@media (min-width: 1200px) {
  .header__wrapper_mobile-tablet-version {
    display: none;
  }
  .header__wrapper_desktop-laptop-version {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__logo_size {
    width: 250px;
    height: 60px;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__links {
    font-size: 14px;
    margin: 0 0 0 50px;
    letter-spacing: 2px;
    -webkit-transition: .6s;
    transition: .6s;
  }
  .header__links:hover {
    color: rgba(255, 255, 255, 0.832);
  }
  .header__links:active {
    color: rgba(255, 255, 255, 0.682);
  }
}
@media (min-width: 1400px) {
  .header__logo_size {
    width: 280px;
    height: 65px;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__links {
    font-size: 16px;
    margin: 0 0 0 60px;
    letter-spacing: 2px;
    -webkit-transition: .6s;
    transition: .6s;
  }
  .header__links:hover {
    color: rgba(255, 255, 255, 0.832);
  }
  .header__links:active {
    color: rgba(255, 255, 255, 0.682);
  }
}
.head {
  padding: 50px 0;
}
.head__block-title {
  text-align: center;
  margin-bottom: 26px;
}
.head__title {
  font-family: "Arial Black", Helvetica, sans-serif;
  margin-bottom: 6px;
  font-size: 30px;
}
.head__title_position_left {
  margin-right: 60px;
}
.head__title_position_right {
  margin-left: 60px;
}
.head__link {
  display: block;
  width: 210px;
  margin: 0 auto;
  padding: 15px 0;
  border-radius: 20px;
}
.head__image {
  margin-top: 50px;
  width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  .head {
    padding: 60px 0;
  }
  .head__title {
    font-size: 45px;
  }
  .head__title_position_left {
    margin-right: 120px;
  }
  .head__title_position_right {
    margin-left: 120px;
  }
  .head__link {
    width: 316px;
    padding: 18px 0;
    border-radius: 50px;
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .head__block-title {
    margin-bottom: 42px;
  }
  .head__title {
    font-size: 58px;
    margin-bottom: 12px;
  }
  .head__image {
    margin-top: 70px;
  }
}
@media (min-width: 992px) {
  .head__block-title {
    margin-bottom: 65px;
  }
  .head__title {
    font-size: 70px;
    margin-bottom: 12px;
  }
  .head__title_position_left {
    margin-right: 180px;
  }
  .head__title_position_right {
    margin-left: 180px;
  }
  .head__link {
    width: 380px;
    padding: 21px 0;
  }
  .head__image {
    margin-top: 70px;
  }
}
@media (min-width: 1200px) {
  .head {
    padding: 80px 0;
  }
  .head__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .head__block-title {
    margin-bottom: 64px;
  }
  .head__title {
    font-size: 52px;
    margin-bottom: 16px;
  }
  .head__title_position_left {
    margin-right: 120px;
  }
  .head__title_position_right {
    margin-left: 120px;
  }
  .head__link {
    width: 280px;
    padding: 21px 0;
  }
  .head__image {
    margin-top: -5px;
    width: 640px;
    height: 410px;
  }
}
@media (min-width: 1400px) {
  .head {
    padding: 50px 0;
  }
  .head__block-title {
    margin-bottom: 64px;
  }
  .head__title {
    font-size: 70px;
    margin-bottom: 16px;
  }
  .head__title_position_left {
    margin-right: 140px;
  }
  .head__title_position_right {
    margin-left: 140px;
  }
  .head__link {
    width: 280px;
    padding: 21px 0;
  }
  .head__image {
    margin-top: -5px;
    width: 700px;
    height: 480px;
  }
}
@media (min-width: 1600px) {
  .head {
    padding: 100px 0;
  }
}
.registration {
  padding: 34px 0;
}
.registration__title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.form {
  width: 220px;
  margin: 0 auto;
}
.form__fieldset {
  margin-bottom: 14px;
}
.form__label {
  display: inline-block;
  margin-bottom: 7px;
  font-size: 12px;
}
.form__item {
  padding: 9px 11px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}
.form__item::-webkit-input-placeholder {
  font-size: 9px;
  color: #504D4D;
}
.form__item:-ms-input-placeholder {
  font-size: 9px;
  color: #504D4D;
}
.form__item::-ms-input-placeholder {
  font-size: 9px;
  color: #504D4D;
}
.form__item::placeholder {
  font-size: 9px;
  color: #504D4D;
}
.form__add-teammate {
  margin: 18px 0 28px 0;
  font-size: 12px;
}
.form__add-teammate:active {
  color: rgba(255, 255, 255, 0.758);
}
.form__show-teammate {
  display: none;
}

@media (min-width: 576px) {
  .registration__title {
    font-size: 25px;
  }

  .form {
    width: 280px;
  }
  .form__label {
    font-size: 14px;
  }
  .form__item::-webkit-input-placeholder {
    font-size: 10px;
    color: #504D4D;
  }
  .form__item:-ms-input-placeholder {
    font-size: 10px;
    color: #504D4D;
  }
  .form__item::-ms-input-placeholder {
    font-size: 10px;
    color: #504D4D;
  }
  .form__item::placeholder {
    font-size: 10px;
    color: #504D4D;
  }
  .form__add-teammate {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .registration__title {
    font-size: 35px;
  }

  .form {
    width: 380px;
  }
  .form__label {
    font-size: 16px;
  }
  .form__item {
    padding: 12px 16px;
    font-size: 14px;
  }
  .form__item::-webkit-input-placeholder {
    font-size: 12px;
    color: #504D4D;
  }
  .form__item:-ms-input-placeholder {
    font-size: 12px;
    color: #504D4D;
  }
  .form__item::-ms-input-placeholder {
    font-size: 12px;
    color: #504D4D;
  }
  .form__item::placeholder {
    font-size: 12px;
    color: #504D4D;
  }
  .form__add-teammate {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .registration__title {
    font-size: 42px;
  }

  .form {
    width: 480px;
  }
  .form__fieldset {
    margin-bottom: 18px;
  }
  .form__label {
    font-size: 20px;
  }
  .form__item {
    padding: 16px 18px;
    font-size: 16px;
  }
  .form__item::-webkit-input-placeholder {
    font-size: 14px;
    color: #504D4D;
  }
  .form__item:-ms-input-placeholder {
    font-size: 14px;
    color: #504D4D;
  }
  .form__item::-ms-input-placeholder {
    font-size: 14px;
    color: #504D4D;
  }
  .form__item::placeholder {
    font-size: 14px;
    color: #504D4D;
  }
  .form__add-teammate {
    margin: 24px 0 32px 0;
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .registration__title {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form__fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 50px 25px 50px;
  }
  .form__label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .form__item {
    padding: 12px 16px;
    font-size: 16px;
    width: 280px;
  }
  .form__item::-webkit-input-placeholder {
    font-size: 14px;
    color: #504D4D;
  }
  .form__item:-ms-input-placeholder {
    font-size: 14px;
    color: #504D4D;
  }
  .form__item::-ms-input-placeholder {
    font-size: 14px;
    color: #504D4D;
  }
  .form__item::placeholder {
    font-size: 14px;
    color: #504D4D;
  }
  .form__add-teammate {
    display: none;
  }
  .form__show-teammate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form__submit {
    cursor: pointer;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .registration {
    padding: 50px 0;
  }
  .registration__title {
    margin-bottom: 56px;
  }

  .form__fieldset {
    margin: 0 60px 36px 60px;
  }
  .form__item {
    width: 320px;
  }
}
@media (min-width: 1600px) {
  .registration {
    padding: 100px 0;
  }
}
.error {
  text-align: center;
  padding-top: 160px;
}
.error__title {
  font-size: 64px;
}
.error__subtitle {
  font-size: 34px;
}

@media (min-width: 576px) {
  .error__title {
    font-size: 92px;
  }
  .error__subtitle {
    font-size: 45px;
  }
}
@media (min-width: 768px) {
  .error {
    padding-top: 180px;
  }
  .error__title {
    font-size: 110px;
  }
  .error__subtitle {
    font-size: 56px;
  }
}
@media (min-width: 992px) {
  .error__title {
    font-size: 150px;
  }
  .error__subtitle {
    font-size: 60px;
  }
}
@media (min-width: 1200px) {
  .error {
    padding-top: 200px;
  }
  .error__title {
    font-size: 180px;
  }
  .error__subtitle {
    font-size: 80px;
  }
}

/*# sourceMappingURL=main.css.map */